@model PriceViewModel


<div class="cart-total">
    <span class="text-number">
        @Model.Count
    </span>
    <span class="text-item">
        Shopping Cart
    </span>
    <span class="price">
        £@Model.Price
        <i class="fas fa-chevron-down"></i>
    </span>
</div>